<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="searchHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital">
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body text-right">
            <button class="btn btn-primary" (click)="createHospital()">Cargar hospital</button>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Loading</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <h3 class="card-title">Hospitales (<small>{{ totalRecords }}</small>)</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let hospital of hospitals">
                            <td class="w70">
                                <img (click)="showModal('hospitales', hospital._id)" [src]="hospital.img | image: 'hospital'" class="img-50 pointer">
                            </td>
                            <td><input type="text" [(ngModel)]="hospital.name" class="form-control"> </td>
                            <td>
                                <button (click)="updateHospital( hospital )" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>

                                <button (click)="deletHospital(hospital)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>